<p>Welcome <%= @email %>!</p>

<p>Thank you for signing up for the Texas Lassos Alumni group!

<%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>
An email has been sent to the administrator to confirm your registration.</p>



