<div class="panel panel-default sign-div">
  <div class="panel-heading">
    <h3 class="panel-title">Sign in</h3>
  </div>
  <div class="panel-body">
  	<div class="sign-panel">
  		<br />
	    <form action="/user" method="post">
	      &nbsp; &nbsp; &nbsp;<label for="email">Email: </label>
	      <input type="text" id="email" name="user[email]">
	      <br/>
	      <br/>
	      <label for="password">Password: </label>
	      <input type="text" id="password" name="user[password]">
	      <br /><br />

	      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	  
	      <input type="submit" value="Sign In" class="btn btn-primary">
	      &nbsp; or &nbsp;

	    </form>
	      <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">Sign Up</button>
	    <br />
	   </div>

	   <!-- Modal -->
	   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	     <div class="modal-dialog">
	       <div class="modal-content">
	         <div class="modal-header">
	           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	           <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	         </div>
	         <div class="modal-body">
	           ...
	         </div>
	         <div class="modal-footer">
	           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	           <button type="button" class="btn btn-primary">Save changes</button>
	         </div>
	       </div>
	     </div>
	   </div>
  </div>
</div>