<div class="panel panel-default sign-div">
  <div class="panel-heading">
    <h3 class="panel-title">Sign in</h3>
  </div>
  <div class="panel-body">
  	<div class="sign-panel">
  		<br />
	    <form action="/user" method="post">
	      &nbsp; &nbsp; &nbsp;<label for="email">Email: </label>
	      <input type="text" id="email" name="user[email]">
	      <br/>
	      <br/>
	      <label for="password">Password: </label>
	      <input type="text" id="password" name="user[password]">
	      <br /><br />

	      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

	      <div class="center-submit cf">
	  
	      	<input type="submit" value="Sign In" class="btn btn-primary btn3d in-butt cf">
	      </div>
	      

	    </form>
	    <br />
	      <input type="submit" value ="Sign up" class="btn btn-warning btn3d sign-butt" data-toggle="modal" data-target="#myModal" />
	    
	   </div>

	  
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Please fill in all fields</h4>
      </div>
      <div class="modal-body">
        <form action="/users/sign_out" method="delete">
          <input type="text" name="my_input">
          <!-- &nbsp; &nbsp; &nbsp;<label for="email">Name: </label>
          <input type="text" id="modal-name" name="user[name]">
          <br/>
          <br/>
           <label for="password">Pledge Class: </label>
          <input type="text" id="modal-pledge" name="user[pledge_year]">
          <br/> 
          <br/> -->
          <label for="password">Email: </label>
          <input type="text" id="modal-email" name="user[email]">
          <br /><br />

          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn3d" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn3d">Submit</button>
      </div>
    </div>
  </div>
</div>