/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* *, *:before, *:after {
 	box-sizing: border-box;
 	border: 2px solid red;
 }*/

* {
  margin: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	background: #cbeefc;
}

#home {

}

#find {

}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 45%;
    text-align: right;
    margin-right: 5px;
    margin-top: 2px;
}
input {
  display: inline-block;
  float: left;
}
input:after {
	clear: both;
}

.navbar, .panel {
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
}

.panel-title {
	text-align: center;
}

.sign-div {
	max-width: 80%;
	margin: 0 auto;
}

#nav-title {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
}

.sign-panel {
	text-align: center;
	border: 1px solid #BF5700;
}

.btn3d {
    position:relative;
    border:0;
    border-radius:2px;
    margin:12px 10px 0 0;
    transition:all .09s linear;
    box-shadow:0 0 0 1px transparent inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0px 3px 3px 0px rgba(0,0,0,0.3), 0px 3px 3px 0px rgba(0,0,0,0.3);
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:7px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}

.sign-butt {
	float: right;
	display: inline;
}

.site-footer {
	bottom: 0px;
	position: fixed;
	background: #F8953B;
	text-align: center;
	color: white;
	width: 100%;
}

.modal-body {
	text-align: center;
}

.center-submit, .in-butt {
	text-align: center;
	float: none;
	clear: both;
	margin: 0;
}

.remember {
	margin: 2% 0 0 18%;

}

.rendered-sign:button {
	
}

.remem-box {
	margin-top: 10px;
}

#user_remember_me {
	margin-top: 7px;
	display: inline-block;
	float: right;
	clear: both;
	margin-right: 52%;
}

.mod-submit {
	margin-top: 40px;
	text-align: center;
	width: 100%;
	/*margin-left: 43%;*/
}


.modal-footer {
	text-align: center;
}

.center-mod {
	text-align: center;
	margin: 0 auto;
	/*float: right;*/
}

.center-forgot {
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

.grav-photo {
	border:2px solid #F8953B;
	float: left;
	margin: 0px 0px 0px 14px;

}

.profile-main {
	float: left;
	display: inline-block;
	height: 260px;
	border: 2px solid #F8953B;
	/*margin-left: 10px;*/
	width: 37%;
	text-align: center;
	background: #F5F5F5;
	float: left;
	background: url(rope.png) #F5F5F5;
	background-size: 100% 100%;
}

.school-info, .pro-sub {
	margin: 16px 40px 10px 40px;


}

.professional {
	margin-left: 10px;
	background: url(rope.png) #F5F5F5;
	background-size: 100% 100%;
	border:2px solid #F8953B;
	display: inline-block;
	max-width: 37%;
	height: 260px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	width: 37%;
}

.section-header, .section-header-top {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	color: #F8953B;
	font-family: 'Lato', sans-serif;
}

.wrapper {
	margin: 10px;
	height: 270px;
	width: 100%;
	margin: 0;
}

.panel-body-prof-main {
	padding: 10px 10px 0px 10px;
	text-align: center;
}

#error_explanation {
    margin: 0 auto;
}
}

.wrapper-contact {
	margin: 10px;
	height: 210px;
	width: 100%;
	margin: 0;
}

.address, .social, .misc {
	background: #F5F5F5;
	border:2px solid #F8953B;
	width: 32%;
	display: inline-block;
	height: 200px;
	float: left;
}


.address {
	float: left;
}

.social, .misc {
	margin-left: 20px;
}

.section-header-top {
	text-decoration: none;
	margin: 0;
	padding: 0;
	top; 1;
}

.comments {
	margin-bottom: 60px;
}

.comments-area {
	border:2px solid #F8953B;
}

#logo {
	max-width: 22%;
	max-height: 22%;
}

#comm-save {
	margin-left: 50%;
}

.social-form-left, .alum-form-left {
	float: left;
	display: inline-block;
	border: 2px solid #F8953B;
	margin-left: 10px;
	width: 37%;
	background: #F5F5F5;
}

.social-form-right, .pro-form-right {
	float: left;
	display: inline-block;
	border: 2px solid #F8953B;
	margin-left: 10px;
	width: 37%;
	background: #F5F5F5;
}

#contact-save, #info-save {
	margin: 2%;
}

.resend-email-label, .modal-name, .name-butt, .linked-butt, .street-butt, .emp-butt {
	margin: 24px 5px 3px 0px;
}

.edit, .pull-right {
	/*margin: 0 0 4px 4px;*/
	padding-bottom: 0px;
	padding-top: 0px;
}

.import-form {
	text-align: center;
	margin: 0 auto;
}

.asterick {
	margin-top: 10px;
	font-style: italic;
	color: red;
}

.quick-search {
	margin-top: -20px;
}

.form-selects {
	text-align: left;
	float: left;
}

.search-butt {
	margin-top: -20px;
	float: right;	
}

#user_pledge_class {
	text-align: left;
	/*clear: both;*/
	/*display: inline;*/
	float: left;
	/*left: 0;*/
	margin: 0;
}

#logo-div-all, .logo-container {
	text-align: center;
	width: 100%;
	margin-top: -60px;

}

.import {
	float: left;
	display: inline;
}

.file-area {
	margin-left: 30%;
}

.import-panel, .export-panel {
	height: 110px;
}

.exp-butt {
	margin-left: 47%;
}

#grav-link {
	color: blue;
	font-style: italic;
}

#grav-link:hover {
	background: white;
	color: purple;
	text-decoration: underline;
}

a:hover {
	background: white;
	color: blue;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F8953B;
}

strong {
	color: #F8953B;
	font-size: 20px;
}

.instructions {
	margin: 22px 0px 0px 0px;
	float: left;
	display: inline-block;

}

/*.logo-container {
	width: 100%;
	text-align: center;
}*/

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 1200px) {
/* Styles */
	.wrapper, .wrapper-contact {
		height: auto;
	}
	.main-wrapper {

	}
	.profile-main, .professional, .address, .social, .misc, .visible-social {
		height: auto;
		width: 100%;
		float: none;
		display: block;
		margin-left: 0;
		margin-top: 5px;
		background: #F5F5F5;
		text-align: center;
		position: relative;
	} 

/*	.pro-form-right, .alum-form-left, .social-form-left, .social-form-right {
		overflow: auto;
		position: relative;
		clear: both;
		margin: 0 auto;
	}*/

	.school-info {

	}
	.professional {
		max-width: 100%;
	}

	.panel-body-prof-main {
		height: auto;
		padding: 0;
	}

	.grav-photo {
		float: none;
		margin: 5px 0 0 0;
	}

	.school-info, .pro-sub {
		margin: 0 auto;
	}

	.section-header-top {
		text-decoration: none;
		margin: 0;
		padding: 0;
		top; 1;
	}

	.top-form, .social-form {
	  position: absolute;
	  top: 20px;
	  left: 0;
	  z-index: 9998;
	  background: black;
	  color: white;
	  height: auto;
	  -webkit-transition-duration: 0.5s;
	  -moz-transition-duration: 0.5s;
	  -o-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	}

	.pro-form-right, .alum-form-left, .social-form-right, .social-form-left {
	  /*position: relative;*/
	  /*top: 40px;*/
	  /*left: -250px;*/
	  z-index: 9998;
	  background: black;
	  color: white;
	  width: 100%;
	  height: auto;
	  clear: both;
	  -webkit-transition-duration: 0.5s;
	  -moz-transition-duration: 0.5s;
	  -o-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	}

	.txtarea {
		width: 100%;
	}

/*	.top-form:hover {
	  left: 250px;
	}*/
/*	.top-form:hover .pro-form-right {
	  left: 0;
	}

	.top-form:hover .alum-form-left {
	  left: 0;
	}

	.social-form:hover .social-form-right {
		left: 0;
	}

	.social-form:hover .social-form-left {
		left: 0;
	}*/
}
